
<div class="loginform" ng-controller="productController">
<h3>Add Product</h3>
    <form name="addProduct"  ng-submit="insertData()">
        <div class="form-group">
            <label for="InputProductName">Product Name</label>
            <input type="text" class="form-control" id="InputProductName" aria-describedby="ProductNameHelp" placeholder="Enter ProductName" ng-model="product_name" name="product_name" required="required">
            <span class="form-control-error" ng-show="addProduct.product_name.$touched && addProduct.product_name.$invalid">The product name is required.</span>
        </div>

        <div class="form-group">
            <label for="InputProductPrice">Product Price</label>
            <input type="text" class="form-control" id="InputProductPrice" aria-describedby="ProductPriceHelp" placeholder="Enter product price" ng-model="product_price" name="product_price" required="required">
            <span class="form-control-error" ng-show="addProduct.product_price.$touched && addProduct.product_price.$invalid">The product price is required.</span>
        </div>
        <button type="submit" class="btn btn-success">Add Product</button>
    </form>
</div>


