
<div ng-controller="productController">
    <h3>Product Lists</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Added On</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in product_lists">
            <td>{{ product.id }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.product_price }}</td>
            <td>{{ product.product_category }}</td>
            <td>{{ product.created_at | date:' M/d/y HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
</div>

