<div ng-controller="productController">
    <h3>Product Category</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Category Name</th>
          <th scope="col">Created At</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="category in category_lists">
            <td>{{ category.id }}</td>
            <td>{{ category.category_name }}</td>
            <td>{{ category.created_at | date:' M/d/y HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
</div>
