
<div ng-controller="productController">
    <h3>Product Stocks</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Units</th>
          <th scope="col">Adden On</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in product_stocks">
            <td>{{ product.id }}</td>
            <td>{{ product.product }}</td>
            <td>{{ product.unit }}</td>
            <td>{{ product.created_at | date:' M/d/y HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
</div>

