
    <div ng-controller="accountController">
        <h3>Account lists</h3>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Category</th>
                <th>Product Added</th>
            </tr>
            <tbody>
                <tr ng-repeat="account in account_lists">
                    <td>{{ account.id }}</td>
                </tr>
            </tbody>
        </table>
    </div>