{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'css/flatly.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Brokerage House</title>
  </head>
  <body ng-app="brokerage_house">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Channel
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Retailer</a>
              <a class="dropdown-item" href="#">Distributor</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#!account/all/">All Accounts</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Admin</a>
              <a class="dropdown-item" href="#">Retailer</a>
            </div>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Product
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#!product/list/">All Products</a>
              <a class="dropdown-item" href="#!product/category/">Products Category</a>
              <a class="dropdown-item" href="#!product/stocks/">Products Stocks</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#!product/add/">Add Product</a>
              <a class="dropdown-item" href="#">Add Product Category</a>
              <a class="dropdown-item" href="#">Add Product Stock</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/{{ user.username }}">{{ user.username }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
        {% else %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#!account/login/">Login</a>
              </li>
            </ul>
        {% endif %}
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ng-view></ng-view>
            </div>
        </div>
    </div>


    <script src="{% static 'angular/angular.js' %}"></script>
    <script src="{% static 'angular/angular-route.js' %}"></script>

    <!-- Controller -->
    <script src="{% static 'js/controller/account/loginController.js' %}"></script>
    <script src="{% static 'js/controller/account/accountController.js' %}"></script>
    <script src="{% static 'js/controller/product/productController.js' %}"></script>


    <!-- AngularJS Router -->
    <script src="{% static 'js//router.config.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>