
<div class="col-md-6loginform" ng-controller="loginController">
<h3>Login</h3>
    <form name="loginForm">
        <div class="form-group">
            <label for="InputUsername">Username</label>
            <input type="text" class="form-control" id="InputUsername" aria-describedby="usernameHelp" placeholder="Enter username" ng-model="username" name="username" required="required">
            <span class="form-control-error" ng-show="loginForm.username.$touched && loginForm.username.$invalid">The username is required.</span>
        </div>

        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="text" class="form-control" id="InputPassword" aria-describedby="passwordHelp" placeholder="Enter password" ng-model="password" name="password" required="required">
            <span class="form-control-error" ng-show="loginForm.password.$touched && loginForm.password.$invalid">The password is required.</span>
        </div>
        <button type="submit" class="btn btn-success" ng-click="login(username, password)">Login</button>
    </form>
</div>


